.outer{
    height: 800px;
    width: 800px;
    border: 2px solid red;
}

.row
{
   width: auto;
  border: 1px solid black;
   height: 200px; 
}
.col
{
   width: 98px;
   height: 98px;
   float: left;
   /* display: inline-block; */
   border: 1px solid red;
}